# Sets

Sets are collections with the following characteristics:

1. Items in a set are unique. The same item cannot occur multiple times in a set.
1. Items are unordered. They are not indexed.
1. Once a set is created, its items cannot be changed. But new items can be added.

Operations that can be performed on sets are add or remove items, membership, union, intersection, difference.

In [2]:
s1 = {"apple", "banana", "orange"}
print(type(s1), len(s1), s1)

<class 'set'> 3 {'apple', 'banana', 'orange'}

You can check if the set contains a given value.

In [5]:
print('apple' in s1) # Check if 'apple' is present in the set s1
print('Apple' in s1) # Case sensitive
print('grape' in s1)

True
False
False

Duplicates are not allowed. If an item occurs multiple times, only one is included in the set.

In [6]:
s2 = {"apple", "banana", "orange", "apple"}
print(len(s2), s2)

3 {'apple', 'banana', 'orange'}

A set can contain items of any type.

In [8]:
s3 = {"apple", 1, 20.5}
print(type(s3), len(s3), s3)

<class 'set'> 3 {1, 'apple', 20.5}

You can loop over items in a set.

In [9]:
s4 = {"apple", "banana", "orange"}
for fruit in s4:
    print(fruit)

apple
banana
orange

There are several ways in which you can add items to a set. You can add individual items with **`set.add()`** method. You can add any iterable to a set with the **`set.update()`** method.

In [13]:
s5 = {"apple", "banana", "orange"}
print(s5)
s5.add("grape")
print(s5)
a = ["mango", "cherry"] # Items in a list
s5.update(a)
print(s5)
b = ("watermelon", "apple") # Items in a tuple. Note, "apple" is duplicate
s5.update(b)
print(s5)

{'apple', 'banana', 'orange'}
{'apple', 'grape', 'banana', 'orange'}
{'apple', 'cherry', 'mango', 'grape', 'orange', 'banana'}
{'apple', 'cherry', 'mango', 'grape', 'orange', 'banana', 'watermelon'}

You can remove an item from a set with the **`set.remove()`** or **`set.discard()`** methods. If you attempt to remove an item that does not exists, **`set.remove()`** will raise an exception but **`set.discard()`** does not. All items in a set can be removed with the **`set.clear()`** method.

In [18]:
s6 = {"apple", "banana", "orange", "grape", "mango"}
print(s6)
s6.remove("banana")
print(s6)
s6.discard("mango")
print(s6)
s6.discard("watermelon")
s6.clear()
print(s6)
s6.remove("watermelon")

{'apple', 'grape', 'mango', 'orange', 'banana'}
{'apple', 'grape', 'mango', 'orange'}
{'apple', 'grape', 'orange'}
set()

KeyError: 'watermelon'

## Set Operations

Following operations can be performed on sets:

1. Union: Join sets
1. Intersection: Items present in both sets
1. Difference: Items that are not present in both sets

In [21]:
s1 = {"apple", "banana"}
s2 = {"orange"}
print(len(s1), s1)
print(len(s2), s2)
s3 = s1.union(s2)
print(len(s3), s3)

2 {'apple', 'banana'}
1 {'orange'}
3 {'apple', 'banana', 'orange'}

In [26]:
s1 = {"apple", "banana", "orange"}
s2 = {"grape", "apple", "mango"}
print(len(s1), s1)
print(len(s2), s2)
s3 = s1.intersection(s2)
print(s3)

3 {'apple', 'banana', 'orange'}
3 {'apple', 'grape', 'mango'}
{'apple'}

You can do an intersection with update in-place.

In [28]:
s1 = {"apple", "banana", "orange"}
s2 = {"grape", "apple", "mango"}
print(len(s1), s1)
print(len(s2), s2)
s1.intersection_update(s2) # Update s1 in-place # s1 and s2 are unaffected. s3 is created new
print(s1)

3 {'apple', 'banana', 'orange'}
3 {'apple', 'grape', 'mango'}
{'apple'}

Difference of two sets.

In [34]:
s1 = {"apple", "banana", "orange"}
s2 = {"grape", "apple", "mango"}
print(s1)
print(s2)
s3 = s1.difference(s2) # Items in s1 that are not in s2
print(s3)
s4 = s2.difference(s1) # Items in s2 that are not in s1
print(s1)

{'apple', 'banana', 'orange'}
{'apple', 'grape', 'mango'}
{'banana', 'orange'}
{'apple', 'banana', 'orange'}

Difference update.

In [35]:
s1 = {"apple", "banana", "orange"}
s2 = {"grape", "apple", "mango"}
print(s1)
print(s2)
s1.difference_update(s2) # Update s1 to keep items in s1 that are not in s2
print(s1)

{'apple', 'banana', 'orange'}
{'apple', 'grape', 'mango'}
{'banana', 'orange'}

Symmetric difference returns elements that are **not** present in both sets.

In [30]:
s1 = {"apple", "banana", "orange"}
s2 = {"grape", "apple", "mango"}
print(s1)
print(s2)
s3 = s1.symmetric_difference(s2)
print(s3)

{'apple', 'banana', 'orange'}
{'apple', 'grape', 'mango'}
{'mango', 'grape', 'orange', 'banana'}

Symmetric difference update does not return a new set, instead it updates one of the sets.

In [31]:
s1 = {"apple", "banana", "orange"}
s2 = {"grape", "apple", "mango"}
print(s1)
print(s2)
s1.symmetric_difference_update(s2)
print(s1)

{'apple', 'banana', 'orange'}
{'apple', 'grape', 'mango'}
{'mango', 'grape', 'orange', 'banana'}

You can check if one set is a superset (or subset) of another set.

In [39]:
s1 = {"apple", "banana", "orange"}
s2 = {"apple", "orange"}
s3 = {"apple", "orange", "grape"}
print(s1.issuperset(s2))
print(s2.issubset(s1))
print(s1.issuperset(s3))
print(s3.issubset(s1))

True
True
False
False